<header class="header header-container box-item pt-3 no-gutters sticky-top">
  <div class="row justify-content-between">
    <div class="col-auto row align-items-center logo-icon">
      <div class="mb-5 ml-2">
        <img src="logo.png" width="40">
      </div>


      <div class="no-gutters mb-5">

        <div class="utcloud col-auto pointer " (click)="navigateToHome()">
          UT Cloud
        </div>
      </div>
    </div>
    <div class="row whole-logout clickable" (click)="logout()">
      <div class="logout-text">
        خروج
      </div>
      <div class="logout-icon col-auto">
        <i class="pointer logOut fi flaticon-logout-1"></i>
      </div>
    </div>
  </div>
</header>
