h2 {
  text-align: left;
}

.cloudHeader {
  font-size: 30px;
}

.uploadIcon {
  cursor: pointer;
  &:hover {
    font-size: 30px;
    transition: all 0.5s;
  }
}

button {
  &:hover {
    font-size: 15px;
    transition: all 0.5s;
  }
}
