.cloudHeader {
  font-size: 30px;
}

.icon {
  cursor: pointer;
  &:hover {
    font-size: 30px;
    transition: all 0.5s;
  }
}

.arrow {
  color: gray;
  padding-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.bread-crumb {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  >li {
    display: flex;
    align-items: center;
    >span {
      color: gray;
      margin-left: 8px;
      font-size: 16px;
    }
    >i {
      font-size: 18px;
      margin-left: 8px;
      margin-bottom: 4px;
      color: #aaaaaa;
    }
    &:last-child {
      span {
        color: #127cfa;
      }
    }
  }
}

.root-breadcrumb-icon {
  line-height: 1;
  font-size: 18px;
  color: #aaaaaa;
  margin-bottom: 5px;
}

.logOut {
  color: darkgray;
  font-size: 20px;
}

.utcloud {
  font-size: 25px;
}
