.cloudHeader {
  font-size: 30px;
}

.icon {
  cursor: pointer;

  &:hover {
    font-size: 30px;
    transition: all 0.5s;
  }
}

.arrow {
  color: gray;
  padding-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.logOut {
  color: darkgray;
  font-size: 33px;
}

.utcloud {
  font-size: 25px;
  color: #2f2d30;
}

.header {
  height: 77px;
  box-shadow: none;
  border-bottom: 1px solid #f6f6f6;
}

img {
  margin-bottom: 5;
  margin-right: 5;
}

.logo-icon {
  height: 45px;
  padding: 45px 0 0 0;
}
