<div (click)="openFolder()" *ngIf="viewMode == 'compact'" class="full-container">
  <div class="folder-container h-100">
    <div class="folder-icon">
      <i class="one-line-icon fi flaticon-folder p-2 folder-size text-primary"></i>
    </div>
    <div class="folder-name">
      <span>{{folder.name}}</span>
    </div>
  </div>
</div>


<div class="row listItem no-gutters" dir="ltr" *ngIf="viewMode == 'list'" (click)="openFolder()">
  <div class="folder-icon">
    <i class="fi flaticon-folder text-primary"></i>
  </div>
  <div class="my-auto file-name">
    {{folder.name}}
  </div>
</div>
