:host {
  display: block;
}

.full-container {
  margin: 15px 5px 0 5px;
  background: #fff;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 160px;
  width: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .folder-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: all 0.3s;

    .folder-name {
      padding: 10px 12px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .folder-icon {
      height: 92px;
      margin-top: 20px;

      .one-line-icon {
        height: 92px;
        margin-top: 17px;
      }
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 2px #c1c9c9;
  }
}

.list {
  text-align: center;
  border-bottom: 2px solid #c3bac0 !important;
  margin-left: 5%;
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.listItem {
  height: 80px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  text-align: center;
  border: 0 solid #dee2e6 !important;
  width: 100%;

  .folder-icon {
    padding: 24px 20px 20px 20px;
    font-size: 25px;
  }

  .folder-name {
    padding: 10px 0 0 0;
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  &:hover {
    box-shadow: 0 0 10px 0 grey !important;
    z-index: 10000000000;
  }
}

.folder-size {
  font-size: 80px;
}
