:host {
  display: block;
}

.file-container {
  margin-left: 5px;
  margin-right: 5px;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.4);
  margin: 6px 5px;
  text-align: center; // cursor: pointer;
  transition: all 0.3s;
  .file-name {
    margin-top: 8px;
  }
  &:hover {
    box-shadow: inset 0 0 0 2px #c1c9c9 !important // box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.4);
    // margin-top: 2px;
  }
}

.list {
  text-align: center;
  border-bottom: 2px solid #c3bac0 !important;
  margin-left: 5%;
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
}
