<div (click)="openFolder()" *ngIf="showMode == 'compact'" class="row no-gutters">
  <div class="file-container">
    <div class="file-icon">
      <i class=" p-2 fa fa-5x fa-folder text-primary"></i>
    </div>
    <div class="file-name">
      <span>{{folder.name}}</span>
    </div>
  </div>
</div>


<div class="row listItem no-gutters" dir="ltr" *ngIf="showMode == 'list'" (click)="openFolder()">
  <div>
    <i class=" p-2 fa fa-3x fa-folder text-primary"></i>
  </div>
  <div class="w-25 my-auto m-4 file-name">
    {{folder.name}}
  </div>
</div>
