:host {
  display: block;
}

i {
  text-align: center;
  border-radius: 15px;
}

p {
  font-size: 20px;
}

.full-container {
  position: relative;
  margin: 15px 5px 0 5px;
  background: #fff;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 160px;
  width: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .file-container {
    text-align: center;
    transition: all 0.3s;

    .file-name {
      padding: 10px 12px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .file-icon {
      height: 92px;
      margin-top: 20px;

      .one-line-icon {
        height: 92px;
        margin-top: 17px;
      }
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 2px #c1c9c9
  }
}

@keyframes shaking {
  0% {
    transform: rotate(2deg)
  }

  50% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-2deg)
  }
}

.shake {
  // animation-name: shaking;
  // animation-duration: 100ms;
  // animation-direction: alternate-reverse;
  // animation-iteration-count: 5;
  box-shadow: 0 0 0 2px #217bff !important;
}

.parent {
  position: relative;
  height: 160px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.selectIcon {
  position: absolute;
  background-color: #217bff;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 4px 0 0 0;
  padding: 0px 4px 3px 2px;

  >i {
    color: white;
  }
}

.fileName {
  background-color: #f1f9ff;
  border-radius: 0 0 10px 10px;
}

.listItem {
  height: 80px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  text-align: center;
  border: 0 solid #dee2e6 !important;
  width: 100%;

  .file-icon {
    padding: 20px 20px 20px 20px;
    font-size: 25px;
  }

  .file-name {
    padding: 10px 0 0 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    box-shadow: 0 2px 24px 3px #aaaa !important;
    z-index: 10000000000;
  }

  .file-date {
    margin: 0 40px;
  }

  .file-size {
    margin: 0 60px;
    width: 90px;
  }
}

.selected {
  background-color: rgba(229, 234, 236, 0.667)
}

.check-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #217bff;
  border-radius: 4px 0px 0px 0px;
  height: 18px;
  color: white;
  background-color: #217bff;
  padding: 0px 0px 0px 1px;
}

.flaticon-size {
  font-size: 80px;
}
