<div class="full-container" *ngIf="viewMode == 'compact'" [ngClass]="{
  'shake' : file.selected
}">
  <div (dblclick)="examineOpenFullFile()" (click)="examineSelect()" class="file-container parent box-limit" (mouseover)="hoverOn()"
    (mouseout)="hoverOff()">
    <div class="file-icon">
      <span class="file-extension" *ngIf="!consts.icons[file.type]">{{file.fileExtension}}</span>
      <i class="one-line-icon" [class]="'fi p-2 flaticon-size ' + (consts.icons[file.type] || 'flaticon-file-1')"></i>
    </div>

    <div class="file-name englishFormat" [ngClass]="{
        'fileName' : file.selected
      }">
      <div class="check-icon" *ngIf="file.selected">
        <i class="fi flaticon-tick
        " aria-hidden="true"></i>
      </div>
      <span>{{file.name}}</span>
    </div>
  </div>
</div>

<div class="row listItem no-gutters" dir="ltr" *ngIf="viewMode == 'list'" (dblclick)="examineOpenFullFile()" (click)="examineSelect()"
  [ngClass]="{
    'selected': file.selected
  }">
  <div class="file-icon">
    <span [class]="'file-extension ' + consts.icons[file.type]">{{file.fileExtension}}</span>
    <i [class]=" 'fi ' + (consts.icons[file.type] || 'flaticon-file-1')"></i>
  </div>
  <div class="col my-auto file-name englishFormat">
    {{file.name}}
  </div>
  <div class="col-auto englishFormat my-auto file-date">
    {{file.creationDate | date }}
  </div>
  <div class="col-auto englishFormat my-auto text-primary file-size">
    {{file.size | size}}
  </div>
</div>
