<div class="row container-fluid box-item px-3 py-3 no-gutters">
  <!-- <div class="col-auto row " dir="ltr">
    <ul class="BC">
      <div class="col-auto">
        <li *ngFor="let b of breadcrumbs; let i = index">
          <span class="btn" (click)="navigateTo(b)">{{b.name}}</span>
          <i *ngIf="i != breadcrumbs.length - 1" class="fa fa-angle-left" aria-hidden="true"></i>
        </li>
      </div>
    </ul>
  </div> -->
  <div class="col-auto mx-3">
    <div class="text-black-50">
      <div class="btn" [hidden]="showListIcon">
        <i class="fa fa-2x fa-list" aria-hidden="true" (click)="changeShowMode()"></i>
      </div>
      <div class="btn" [hidden]="!showListIcon">
        <i class="fa fa-2x fa-th" aria-hidden="true" (click)="changeShowMode()"></i>
      </div>
    </div>
  </div>
  <div class="col-auto" *ngIf="selectModeToolbar">
    <i class="btn fa fa-2x fa-files-o mx-1 p-2" aria-hidden="true"></i>
    <i class="btn fa fa-2x fa-scissors mx-1 p-2" aria-hidden="true"></i>
  </div>
  <div class="button col-auto" (click)="openDialog($event)">
    <img src="assets/images/newFolder.png" alt="newFolder">
    <!-- <i class="fa fa-2x fa-folder-o p-2" aria-hidden="true"></i>
    <i class="fa fa-1x fa-plus plus-icon" aria-hidden="true"></i> -->
  </div>
</div>
