.button {
  cursor: pointer;
}

.BC {

  // list-style-type: none;
  // font-size: -webkit-xxx-large;
  li {
    color: gray; // margin: 3px;
    display: inline-block;

    &:last-child {
      color: #2d2d31;
    }
  }
}

.A {
  display: inline-block;
}

.plus-icon {
  display: inline-block;
  margin-right: -30px; // margin-bottom: 20px;
}

img {
  width: 24px;
}

.Xlarge {
  font-size: x-large;
}

// .clickable {
//   cursor: pointer;
// }
.bread-crumb {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  height: 15px;
  line-height: 1;
  justify-content: flex-end;

  >li {
    display: flex;
    align-items: center;

    >span {
      color: gray;
      font-size: 16px;
    }

    >i {
      font-size: 18px;
      margin-left: 8px;
      margin-bottom: 4px;
      color: #aaaaaa;
    }

    &:last-child {
      span {
        color: #127cfa;
      }
    }
  }
}

.root-breadcrumb-icon {
  line-height: 1;
  font-size: 18px;
  color: #aaaaaa;
  margin-bottom: 5px;
}

#mkdir {
  z-index: 10000000;
}

.homeIcon {
  color: gray;
}

.toolbar {
  height: 55px;
  background: #fcfcfc;
  margin-top: 77px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
  padding: 13px 30px 15px;
  display: flex;
}

.toolbar-icons {
  margin: 0px 15px;
  font-size: 25px;
}

.square-icons {
  font-size: 20px;
  line-height: 1;
  margin-top: 4px;
}

.rec-icons {
  font-size: 22px;
  margin-top: 2px;
}

.arrow-key {
  margin-top: 3px;
  font-size: 10px;
}

.copy-cut-icons {
  margin-right: 15px;
}

.list-view-icon {
  opacity: 0.6;
}

.path-name {
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  margin: 0 6px;
  display: inline-block;
}

.path-and-arrow {
  line-height: 1;
  text-align: center;
}

.whole-bread-crumb {
  width: 60%;
  display: inline-block;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 4px 10px 0 0;
  // box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 20, 0.3);
  // border-radius: 5px 5px 5px 5px;

  &::-webkit-scrollbar {
    display: none;
  }

  // -webkit-overflow-scrolling: touch;
  // -ms-overflow-style: -ms-autohiding-scrollbar;
}
