.button {
  cursor: pointer;
}

.BC {
  // list-style-type: none;
  // font-size: -webkit-xxx-large;
  li {
    color: gray; // margin: 3px;
    display: inline-block;
    &:last-child {
      color: #2d2d31;
    }
  }
}

.A {
  display: inline-block;
}

.plus-icon {
  display: inline-block;
  margin-right: -30px; // margin-bottom: 20px;
}

img {
  width: 24px;
}

.Xlarge {
  font-size: x-large;
}
