<div class="justify-content-between row container-fluid box-item px-5 py-3 no-gutters fixed-top">
  <div class="row col-auto">
    <div class="col-auto my-auto">
      <div class="clickable" [hidden]="showListIcon">
        <i class="fa fa-list" aria-hidden="true" (click)="changeShowMode()"></i>
      </div>
      <div class="clickable" [hidden]="!showListIcon">
        <i class="fa fa-2x fa-th" aria-hidden="true" (click)="changeShowMode()"></i>
      </div>
    </div>
    <div class="col-auto my-auto" (click)="openDialog($event)">
      <img src="assets/images/newFolder.png" alt="newFolder">
    </div>
    <div class="col-auto uploadIcon my-auto">
      <i class="fa fa-cloud-upload icon" aria-hidden="true" (click)="navigateToUpload()"></i>
    </div>
    <div class="col-auto Xlarge row my-auto" *ngIf="selectModeToolbar" [@flyInOut]="'in'">
      <i class="fa fa-files-o mx-1 col-auto" aria-hidden="true"></i>
      <i class="fa fa-scissors mx-1 col-auto" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col-auto row no-gutters align-items-center" dir="ltr">
    <ul class="bread-crumb">
      <li *ngFor="let b of breadcrumbs; let i = index">
        <span class="pointer" (click)="navigateTo(b)">{{b.name}}</span>
        <i *ngIf="i != breadcrumbs.length - 1" class="fa fa-angle-right" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
