<div class="toolbar justify-content-between row box-item no-gutters fixed-top">
  <div class="row col-auto">
    <div>
      <div class="clickable toolbar-icons" [hidden]="!isGridView" (click)="changeviewMode()">
        <i matTooltip="List" class="fi flaticon-view-list" aria-hidden="true"></i>
      </div>
      <div class="clickable toolbar-icons" [hidden]="isGridView" (click)="changeviewMode()">
        <i matTooltip="Grid" class="fi flaticon-menu" aria-hidden="true"></i>
      </div>
    </div>

    <div id="mkdir" class="col-auto toolbar-icons" (click)="openDialog($event)">
      <i matTooltip="new folder" class="fi flaticon-add" alt="newFolder"></i>
    </div>
    <div class="col-auto upload-icon toolbar-icons" (click)="navigateToUpload()">
      <i matTooltip="upload" class="fi flaticon-upload-to-cloud"></i>
    </div>

    <div class="col-auto Xlarge row toolbar-icons" *ngIf="fileService.pasteMode">
      <i matTooltip="paste" class="fi flaticon-paste-from-clipboard" aria-hidden="true" (click)="submitPaste()"></i>
      <i matTooltip="cancel" class="fi flaticon-cancel-button" aria-hidden="true" (click)="submitCancel()"></i>

    </div>
    <div class="col-auto Xlarge row toolbar-icons" *ngIf="selectModeToolbar && !fileService.copyOrCut" [@flyInOut]="'in'">
      <i matTooltip="copy" class="fi flaticon-file col-auto" aria-hidden="true" (click)="submitCopy()"></i>
      <i matTooltip="cut" class="fi flaticon-scissors-1 col-auto" aria-hidden="true" (click)="submitCut()"></i>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="pl-0 col-auto row no-gutters align-items-center" dir="ltr">
      <ul class="bread-crumb">
        <li *ngFor="let b of fileService.breadcrumbs; let i = index">
          <span class="pointer" (click)="navigateTo(b)">{{b.name}}</span>
          <div class="arrow-key">
            <i *ngIf="i != fileService.breadcrumbs.length - 1" class="fi flaticon-arrow-point-to-right" aria-hidden="true"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="col row no-gutters my-auto homeIcon">
      <div class="col pl-2 arrow-key">
        <i *ngIf="fileService.breadcrumbs.length > 0" class="fi flaticon-arrow-point-to-right
            " aria-hidden="true"></i>
      </div>
      <div class="col clickable" (click)="navigateToHome()">
        home
      </div>
    </div>
  </div>
</div>
