<app-toolbar></app-toolbar>
<div dir="ltr" class="header">
  <div *ngIf="folders.length == 0 && files.length == 0" class="row justify-content-center start-icons">
    <div class="col-4 my-auto mx-auto empty-state" *ngFor="let key of objectKeys(consts.icons)">
      <i [class]="'fa fa-5x ' + consts.icons[key] " aria-hidden="true"></i>
    </div>
    <div class="suggestion">
      upload your first file (drag files into window)
    </div>
  </div>
  <div class="row listItem no-gutters" dir="ltr" *ngIf="(folders.length > 0 || files.length > 0) && showMode == 'list'">
    <div style="margin-right:5%">
    </div>
    <div class="w-20 my-auto m-auto pl-0 file-name clickable" (click)="sortByName()">
      name
      <i *ngIf="nameOrder == true" class="fa fa-sort-asc m-1" aria-hidden="true"></i>
      <i *ngIf="nameOrder == false" class="fa fa-sort-desc m-1" aria-hidden="true"></i>
    </div>
    <div class="englishFormat w-20 my-auto m-auto"></div>
    <div class="englishFormat w-20 my-auto m-auto clickable" (click)="sortBySize()">
      size
      <i *ngIf="sizeOrder == true" class="fa fa-sort-asc m-1" aria-hidden="true"></i>
      <i *ngIf="sizeOrder == false" class="fa fa-sort-desc m-1" aria-hidden="true"></i>
    </div>
  </div>
  <div [@compact]="files.length" class="row no-gutters" *ngIf="showMode == 'compact'">
    <app-folder-view class=" col-auto" *ngFor="let folder of folders" [data]="folder "></app-folder-view>
    <app-compact-file class="col-auto" class="pb-3 " (deleted)="deleteFromList($event) " *ngFor="let file of files" [value]="file "></app-compact-file>
  </div>
  <div [@list]="files.length" *ngIf="showMode == 'list'">
    <app-folder-view class="col-auto my-2" *ngFor="let folder of folders | orderBy: 'name'" [data]="folder "></app-folder-view>
    <app-compact-file class="col-auto my-2" (deleted)="deleteFromList($event) " *ngFor="let file of files | orderBy: sortedBy: order"
      [value]="file "></app-compact-file>
  </div>
</div>
<app-upload-drop-zone></app-upload-drop-zone>
