<div class="row justify-content-center">
  <form [formGroup]="loginForm">
    <div class="row">
      <input id="email" formControlName="email" type="text" placeholder="email" class="form-control col-4" [formControl]="email">
  
      <input id="password" formControlName="password" type="password" placeholder="password" class="form-control col-4 mx-4" [formControl]="password">
  
      <button class="btn" (click)="login()" [ngClass]="{
        'btn-danger disabled' : loginForm.invalid,
        'btn-success' : loginForm.valid
      }">login</button>
    </div>
    <div class="row remember-me-container">
      <input type="checkbox" checked><span>Remember Me!</span>
    </div>
  </form>
</div>
