.remember-me-container {
  margin: 9px 0px 19px;
}

.title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.signupLabel {
  color: white !important;
}
