<div>
  <div>
    <h5 class="mx-auto my-5" style="text-align: center">LOGIN</h5>
  </div>
  <div class="">
    <div class="p-5 col-12 col-sm-6 col-md-4 col-lg-3 mx-auto mat-elevation-z4">
      <form style="" [formGroup]="loginForm">
        <div class="">
          <mat-form-field class="w-100">
            <input matInput id="email" formControlName="email" type="text" placeholder="email">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput id="password" formControlName="password" type="password" placeholder="password">
          </mat-form-field>
          <div class="remember-me-container">
            <mat-checkbox color="primary" class="example-margin" formControlName="rememberMe">Remember me!</mat-checkbox>
          </div>
          <div>
            <button mat-flat-button type="submit" color="primary" [disabled]='loginForm.invalid' (click)="login()">
              <span>login</span>
              <i class="fa fa-spinner fa-pulse ml-2 text-white" [hidden]="spinHide"></i>
            </button>
            <div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
