    /*
    Flaticon icon font: Flaticon
    Creation date: 13/09/2018 16:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-pdf:before { content: "\f100"; }
.flaticon-doc:before { content: "\f101"; }
.flaticon-html:before { content: "\f102"; }
.flaticon-xls:before { content: "\f103"; }
.flaticon-jpg:before { content: "\f104"; }
.flaticon-zip:before { content: "\f105"; }
.flaticon-mp4:before { content: "\f106"; }
.flaticon-mp3:before { content: "\f107"; }
.flaticon-folder:before { content: "\f108"; }
.flaticon-javascript:before { content: "\f109"; }
.flaticon-psd:before { content: "\f10a"; }
.flaticon-ppt:before { content: "\f10b"; }
.flaticon-txt:before { content: "\f10c"; }
.flaticon-json-file:before { content: "\f10d"; }
.flaticon-css:before { content: "\f10e"; }
.flaticon-avi:before { content: "\f10f"; }
.flaticon-png:before { content: "\f110"; }
.flaticon-xml:before { content: "\f111"; }
.flaticon-scissors:before { content: "\f112"; }
.flaticon-view-list:before { content: "\f113"; }
.flaticon-menu:before { content: "\f114"; }
.flaticon-power-button:before { content: "\f115"; }
.flaticon-csv:before { content: "\f116"; }
.flaticon-file:before { content: "\f117"; }
.flaticon-file-1:before { content: "\f118"; }
.flaticon-duplicate:before { content: "\f119"; }
.flaticon-page:before { content: "\f11a"; }
.flaticon-scissors-1:before { content: "\f11b"; }
.flaticon-cancel-button:before { content: "\f11c"; }
.flaticon-paste-from-clipboard:before { content: "\f11d"; }
.flaticon-menu-2:before { content: "\f11e"; }
.flaticon-menu-3:before { content: "\f11f"; }
.flaticon-clipboard-icon:before { content: "\f120"; }
.flaticon-check:before { content: "\f121"; }
.flaticon-remove-symbol:before { content: "\f122"; }
.flaticon-show-more-button-with-three-dots:before { content: "\f123"; }
.flaticon-magnifier:before { content: "\f124"; }
.flaticon-tick:before { content: "\f125"; }
.flaticon-cancel:before { content: "\f126"; }
.flaticon-cloud-computing:before { content: "\f127"; }
.flaticon-upload-to-cloud:before { content: "\f128"; }
.flaticon-add:before { content: "\f129"; }
.flaticon-menu-1:before { content: "\f12a"; }
.flaticon-logout:before { content: "\f12b"; }
    
    $font-Flaticon-pdf: "\f100";
    $font-Flaticon-doc: "\f101";
    $font-Flaticon-html: "\f102";
    $font-Flaticon-xls: "\f103";
    $font-Flaticon-jpg: "\f104";
    $font-Flaticon-zip: "\f105";
    $font-Flaticon-mp4: "\f106";
    $font-Flaticon-mp3: "\f107";
    $font-Flaticon-folder: "\f108";
    $font-Flaticon-javascript: "\f109";
    $font-Flaticon-psd: "\f10a";
    $font-Flaticon-ppt: "\f10b";
    $font-Flaticon-txt: "\f10c";
    $font-Flaticon-json-file: "\f10d";
    $font-Flaticon-css: "\f10e";
    $font-Flaticon-avi: "\f10f";
    $font-Flaticon-png: "\f110";
    $font-Flaticon-xml: "\f111";
    $font-Flaticon-scissors: "\f112";
    $font-Flaticon-view-list: "\f113";
    $font-Flaticon-menu: "\f114";
    $font-Flaticon-power-button: "\f115";
    $font-Flaticon-csv: "\f116";
    $font-Flaticon-file: "\f117";
    $font-Flaticon-file-1: "\f118";
    $font-Flaticon-duplicate: "\f119";
    $font-Flaticon-page: "\f11a";
    $font-Flaticon-scissors-1: "\f11b";
    $font-Flaticon-cancel-button: "\f11c";
    $font-Flaticon-paste-from-clipboard: "\f11d";
    $font-Flaticon-menu-2: "\f11e";
    $font-Flaticon-menu-3: "\f11f";
    $font-Flaticon-clipboard-icon: "\f120";
    $font-Flaticon-check: "\f121";
    $font-Flaticon-remove-symbol: "\f122";
    $font-Flaticon-show-more-button-with-three-dots: "\f123";
    $font-Flaticon-magnifier: "\f124";
    $font-Flaticon-tick: "\f125";
    $font-Flaticon-cancel: "\f126";
    $font-Flaticon-cloud-computing: "\f127";
    $font-Flaticon-upload-to-cloud: "\f128";
    $font-Flaticon-add: "\f129";
    $font-Flaticon-menu-1: "\f12a";
    $font-Flaticon-logout: "\f12b";