.floating-panel {
  direction: ltr;
  position: fixed;
  /* border-radius: 10px; */
  padding-top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  bottom: 0;
  /* left: 6%; */
  top: 130px;
  width: 300px;
  /* height: 200px; */
  /* margin-bottom: 3%; */
  /* margin-left: 6%; */
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  /* box-shadow: 1px 0 9px 1px lightgrey; */
  background-color: #0000000a;
  // border: 2px solid #e9e6e6;
  box-shadow: inset 2px -2px 2px 1px #0000001f;

  text-align: right;

  ul {
    padding-left: 0px !important;
  }

  .panel-list-item {
    border-bottom: 1px solid #00000024;
    list-style-type: none;
    margin: 10px;
    padding-bottom: 2px;
    .file-container {
      text-align: left;
      direction: ltr;
      margin: 0;
      padding: 0;
      .icon-content {
        > i {
          margin-right: 5px;
        }
      }
      .name-content {
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .delete-button {
        opacity: 0.5;
        color: #ff0000;
        &:hover {
          opacity: 1;
        }
      }
    }

    .pathGray {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 10px;
      color: #9e9e9ea8;
      padding: 0;
      margin: 0;
      margin-top: 3px;
      text-align: left;

      .col {
        padding-left: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .lists {
    margin-top: 30px;
    .panel-description {
      direction: rtl;
      margin-bottom: 15px;
      margin-right: 10px;
      color: #888;
    }
  }
}

.fonticon-size {
  // font-size: 12px;
}

.panel-buttons {
  button {
    &.panel-cancel-button {
      color: #444;
      border-color: #999;
    }
    i {
      line-height: 1;
      display: inline-block;
      padding: 1px 0 0 8px;
      margin-top: 1px;
    }
  }
}
