<app-toolbar></app-toolbar>
<div class="floating-panel">
  <div class="col-auto Xlarge row justify-content-center panel-buttons">
    <button class="mr-3" mat-raised-button color="primary" (click)="submitPaste()">
      <span>جایگذاری</span>
      <i class="fi flaticon-paste-from-clipboard" aria-hidden="true"></i>
    </button>
    <button mat-stroked-button (click)="submitCancel()" class="panel-cancel-button">
      <span>لغو</span>
      <i class="fi flaticon-cancel" aria-hidden="true"></i>
    </button>
  </div>
  <div class="lists">
    <div class="panel-description">
      <span *ngIf="fileService.copyOrCut=='copy'">فایل های کپی شده:</span>
      <span *ngIf="fileService.copyOrCut=='cut'">فایل های کات شده:</span>
    </div>
    <ul>
      <span *ngIf="fileService.copiedFiles.length==0" class="panel-empty-state">
        فایل های خود را انتخاب کنید
      </span>
      <li class="panel-list-item" *ngFor="let file of this.fileService.copiedFiles; let i = index" [attr.data-index]="i">
        <div class="file-container">
          <div class="row no-gutters">
            <div class="col-auto icon-content">
              <i [class]="'fa fonticont-size ' + (consts.icons[file.type] || ' fa-file ') " aria-hidden="true"></i>
            </div>
            <div class="col name-content">{{file.name}}</div>
            <div class="col-auto clickable delete-button" (click)="remove(i)">
              <i class="fi flaticon-cancel" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row pathGray">
            <div class="col">{{file.path}}</div>
          </div>
        </div>
        <!-- <div class="container">
          <div class="col-sm-9">
            <div class="row">
              <div class="col">{{file.name}}</div>
            </div>
            <div class="row pathGray">
              <div class="col">{{file.path}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <i [class]="'fa fa-2x ' + consts.icons[file.type] " aria-hidden="true"></i>
          </div>

        </div> -->
      </li>
    </ul>
  </div>
</div>