.floating-panel {
  position: fixed;
  border-radius: 20px;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 200px;
  margin-bottom: 3%;
  margin-left: 6%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
  background-color: rgb(243, 237, 237);
  border: 3px solid #4b4848;
  .paste {
    // position: absolute;
    // right: 50px;
    margin-top: 8px;
    margin-bottom: 10px;
    color: green;
  }
  .cancel {
    // position: absolute;
    // left: 50px;
    margin-top: 8px;
    margin-bottom: 10px;
    color: red;
  }
}
