.file-icon {
  font-size: 100px;
  padding: 30px 20px 20px 20px;
}

.file-type {
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.file-name {
  padding: 40px 10px 20px 25px;
  font-size: 30px;
  font-weight: bold;
  height: 107px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
}

.file-name-input {
  border: none;
  border-bottom: 1px solid lightgray;
}

.file-size {
  padding: 5px 0 0 20px;
  text-align: center;
}

.file-det {
  padding: 10px 20px 20px 10px;
}

.file-date {
  padding: 0 0 0 200px;
}

.bottom-bar {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.file-changes {
  margin: 0 0 0 25px;
  display: flex;
}

.file-download-delete {
  display: flex;
  margin: 0 25px 0 0;
}

.file-actions {
  height: 30px;
  text-align: center;
  box-shadow: 1px 0 9px 1px lightgrey;
  border-radius: 4px;
}

.file-delete {
  width: 75px;
  margin: 0 0 0 35px;
  padding: 3px 1px 1px 7px;
}

.file-download {
  width: 80px;
  padding: 3px 1px 1px 7px;
}

.download-text {
  padding: 0 4px 0 12px;
}

.delete-text {
  padding: 0 3px 0 15px;
}

.file-options {
  height: 18px;
  text-align: right;
  font-size: 20px;
  justify-content: space-between;
}

.file-save {
  padding: 3px 7px 0 7px;
  margin: 0 0 0 35px;
}

.file-cancel {
  padding: 3px 7px 0 7px;
}

.accessibilityIcons {
  width: 30px;
  margin: 0 0 0 10px;
}

.previewIcons {
  opacity: 0.5;
}
