.file-icon {
  font-size: 100px;
  padding: 10px 20px 0 20px;
  height: 150px;
}

.file-type {
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.file-name {
  padding: 15px 10px 20px 25px;
  line-height: 1;
  height: 75px;
  width: 300px;
}

.file-name-text {
  display: block;
  height: 75px;
  line-height: 1;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 6px;
}

.file-name-input {
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 30px;
  width: 230px;
  margin: -8px 0 0 0;
}

.file-size {
  padding: 5px 5px;
  text-align: center;
}

.file-det {
  padding: 10px 20px 20px 10px;
}

.file-date {
  padding: 0 0 0 0px;
}

.file-edit-actions {
  height: 20px;
  margin: 25px 0 0 0;
}

.bottom-bar {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.file-changes {
  margin: 0 0 0 25px;
  display: flex;
}

.file-download-delete {
  display: flex;
}

.file-actions {
  height: 30px;
  text-align: center;
  box-shadow: 1px 0 9px 1px lightgrey;
  border-radius: 4px;
}

.file-delete {
  padding: 3px 1px 1px 7px;
  margin-right: 3px;
  color: gray;
  font-family: 'IranSansNumbers', IRANSans, sans-serif !important;
}

.file-download {
  width: 80px;
  padding: 3px 1px 1px 7px;
}

.download-text {
  padding: 0 4px 0 12px;
}

.delete-text {
  padding: 0 20px 0 0px;
}

.file-download-det {
  // height: 30px;
  font-size: 20px;
  justify-content: center;
  margin: 20px 0 0 0;
}

.file-save {
  padding: 3px 7px 0 7px;
  margin: 0 0 0 35px;
}

.file-cancel {
  padding: 3px 7px 0 7px;
}

.accessibilityIcons {
  width: 25px;
  margin: 0 0 0 10px;
}

.previewIcons {
  opacity: 0.5;
}

.edit-icon {
  font-size: 18px;
  opacity: 0.5;
}

.download-url {
  color: gray;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-to-clipboard-icon {
  width: 20px;
  opacity: 0.75;
}

.file-options {
  justify-content: flex-end;
  width: 60px;
  height: 40px;
  margin: 12px 0px 0px 0px;
}

.file-name-option {
  width: 360px;
}

.download-url-input {
  width: 100%;
  border: 2px solid #B39DDB;
  background: #f9f9f9;
  color: #555;
  font-size: 14px;
  padding: 5px 10px 3px;
  font-family: monospace;
}

.copy-to-clipboard {
  border: 2px solid #B39DDB;
  border-left: 0;
  line-height: 24px;
  padding: 3px 8px 2px;
  font-size: 14px;
  font-weight: bold;
  color: #673AB7;
  background: #EDE7F6;
  display: inline-block;
  font-family: monospace;
}

.copy-text {
  padding: 0 0 0 5px;
}

.edit-icon-text {
  padding: 0 20px 0 0;
}

.file-name-text {
  cursor: default;
}

.privacyLevel {
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
