<div>
  <div mat-dialog>
    <div mat-dialog-title>
      <div class="m-5">
        <i [class]=" 'fa fa-5x' + consts.icons[data.fileExtension]">
        </i>
        <div>
          {{data.fileExtension}}
        </div>
      </div>
    </div>
    <div mat-dialog-content>
      <div class="fileName">
        <div class="contents my-auto my-lg-3 p-3 text-monospace">
          {{data.fileName}}
        </div>
      </div>
      <div class="download my-auto my-lg-3 p-3 text-monospace">
        size: {{ data.fileSize | size }}
      </div>
    </div>
  </div>
</div>
