.file-icon {
  font-size: 100px;
  padding: 30px 20px 20px 20px;
}

.file-type {
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.file-name {
  padding: 40px 10px 20px 0;
  font-size: 30px;
  font-weight: bold;
  height: 107px;
  text-align: left;
}

.file-size {
  padding: 5px 0 0 20px;
  text-align: center;
}

.file-det {
  padding: 10px 20px 20px 45px;
}

.file-date {
  padding: 0 0 0 200px;
}

.file-actions {
  text-align: right;
}

.file-delete {
  width: 75px;
  height: 30px;
  text-align: center;
  padding: 3px 1px 1px 7px;
  box-shadow: 1px 0 9px 1px lightgrey;
  border-radius: 4px;
  margin: 0 20px 0 60px;
}

.file-download {
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 3px 1px 1px 7px;
  box-shadow: 1px 0 9px 1px lightgrey;
  border-radius: 4px;
}

.download-text {
  padding: 0 4px 0 12px;
}

.delete-text {
  padding: 0 3px 0 15px;
}

.file-options {
  height: 18px;
  text-align: right;
  font-size: 20px;
}
