<mat-card role="group" class="mb-1 ">
  <mat-card-content>
    <div class="row upload-item-data">
      <div class="col-sm-5 text-center"> <span>{{ fileObj.file.name }}</span></div>
      <div class="col-sm-4"> <span>{{ humanSize }}</span></div>
      <!-- <div class="col-sm-2"><i class="fa fa-times text-danger" (click)="deleteMe()" aria-hidden="true"></i></div> -->
      <div class="col-sm-3"><span>{{fileObj.progress}}%</span></div>
    </div>
    <mat-progress-bar [value]="fileObj.progress"> </mat-progress-bar>
  </mat-card-content>
</mat-card>