<h5 class="mx-auto my-5" style="text-align: center">SIGNUP</h5>
<form style="position: relative;" [formGroup]="registerForm" class="container w-50 my-5">
  <div class="container mat-elevation-z5">
    <div class="my-3 row">
      <!-- <label for="email">email</label> -->
      <mat-form-field class="col">
        <input matInput #message maxlength="256" formControlName="email" id="email" type="text" class="form-control" (change)="bucketGenerator()"
          placeholder="email">
        <mat-hint align="start">
          <strong>Enter your ut.ac.ir email</strong>
        </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </div>
    <div class="my-3 row">
      <!-- <label for="password">password</label> -->
      <mat-form-field class="col">
        <input matInput #message maxlength="256" formControlName="password" id="password" type="password" class="form-control" placeholder="password">
        <mat-hint align="start">
          <strong>Protect your password:|</strong>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="my-3 row">
      <mat-form-field class="col">
        <!-- <label for="bucket">bucket</label> -->
        <input matInput #message maxlength="256" formControlName="bucket" id="bucket" type="text" class="form-control" value="{{bucketDefaultGenerator()}}"
          placeholder="bucket">
        <mat-hint align="start">
          <strong>bucket bucket:)_</strong>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="mx-auto my-3">
    <pre style="position: absolute; top: 620px">
            A bucket is a logical unit of storage in object storage service.
         Buckets are used to store objects, which consist of data.
         it's unique and by default first part of your email!! you can change it
         </pre>
  </div>
  <button mat-flat-button type="submit" color="primary" style="text-align: center" (click)="signup()" [disabled]='registerForm.invalid'>signup</button>
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw" [hidden]="bool"></i>
  <span class="sr-only">Loading...</span>
</form>
